extends layout

block content
  .report-container
    .header
      link(rel='stylesheet', href='/public/css/style.css')

      .logo
        img(src='/public/img/medico.avif' alt='Logo' width='100%' height='200px')
      .lab-info
        h2 Empresa Pruebas, S.A. de C.V
        p Calle # 762C, Tel: 54 (266) 4792991
        p San Luis, Argentina

    .order-info
      h3 LABORATORIO DE ANÁLISIS CLÍNICOS
      if ordenes && ordenes.length
        .order-details
          p Número de Orden: #{ordenes[0].id_Orden}
          p Fecha de Creación: #{ordenes[0].Fecha_Creacion}
          p Fecha de Entrega: #{ordenes[0].Fecha_Entrega}
          p Estado de la Orden: #{ordenes[0].estado}

        h4 Información del Paciente
        .patient-info
          p Nombre: #{ordenes[0].nombre} #{ordenes[0].apellido}
          p DNI: #{ordenes[0].dni}
          p Email: #{ordenes[0].email}
          p Teléfono: #{ordenes[0].telefono}
          p Dirección: #{ordenes[0].direccion}
          p Fecha de Nacimiento: #{ordenes[0].fecha_nacimiento}
          p Edad: #{ordenes[0].edad} Años
          p Embarazo: #{ordenes[0].embarazo ? 'Sí' : 'No'}
          p Diagnóstico: #{ordenes[0].diagnostico}
      else
        p No se encontró información del paciente.

    .report-details
      h4 Resultados de la Orden
      if ordenes && ordenes.length
        table.result-table
          thead
            tr
              th Determinación
              th Valor Final
              th Valor de Referencia Mínimo
              th Valor de Referencia Máximo
              th Rango de Edad (Referencia)
              th Sexo (Referencia)
              th Fecha Resultado
              th Edad del Paciente
          tbody
            each muestra in ordenes[0].muestras
              tr
                td #{muestra.Nombre_Determinacion || 'N/A'}
                td #{muestra.valor_final || 'N/A'}
                td #{muestra.Valor_Referencia_Minimo || 'N/A'}
                td #{muestra.Valor_Referencia_Maximo || 'N/A'}
                td #{muestra.Edad_Minima || 'N/A'} - #{muestra.Edad_Maxima || 'N/A'}
                td #{muestra.Sexo || 'N/A'}
                td #{muestra.fecha_resultado || 'N/A'}
                td #{muestra.edad || 'N/A'}
      else
        p No se encontraron resultados para las muestras.

    .footer
      p A T E N T A M E N T E
      p #{usuarioLogueado || 'Desconocido'}
      p Responsable Sanitario
      p CED. PROF: 00000000

    .powered-by
      p Software para laboratorios clínicos || www.laboratorios-clinicos.com
